<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7 col-lg-6 col-xl-4">
                <card>
                    <template v-slot:title>Login</template>
                    <template v-slot:body>
                        <form @submit.prevent="login">
                            <div class="form-group">
                                <label>Your Email:</label>
                                <input type="email" name="email" class="form-control" v-model="email" required>
                            </div>
                            <div class="form-group">
                                <label>Your Password:</label>
                                <input type="password" name="password" class="form-control" v-model="password" required>
                            </div>

                            <br>
                            <button class="btn btn-block btn-warning">Login</button>
                        </form>
                    </template>
                </card>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import Card from './../components/Card'

export default {
    data () {
        return {
            email: '',
            password: ''
        }
    },
    name: 'login',
    components: { Card },
    methods: {
        login () {
            axios.post('/api/login', {
                email: this.email,
                password: this.password
            }).then(res => {
                console.log(res)
            }).catch(error => {
                console.log(error)
            })
        }
    }
}
</script>