<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 col-xl-6">
                <card>
                    <template v-slot:title>Register</template>
                    <template v-slot:body>
                        <form @submit.prevent="register">
                            <div class="form-group">
                                <label>Your Fullname:</label>
                                <input type="text" name="name" class="form-control" v-model="name" required>
                            </div>
                            <div class="form-group">
                                <label>Your Email:</label>
                                <input type="email" name="email" class="form-control" v-model="email" required>
                            </div>
                            <div class="form-group">
                                <label>Choose a Password:</label>
                                <input type="password" name="password" class="form-control" v-model="password" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm Your Password:</label>
                                <input type="text" name="password_confirmation" class="form-control" v-model="password_confirmation" required>
                            </div>

                            <br>
                            <button type="submit" class="btn btn-block btn-warning">Register</button>
                        </form>
                    </template>
                </card>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import Card from './../components/Card'

export default {
    data () {
        return {
            name: '',
            email: '',
            password: '',
            password_confirmation: ''
        }
    },
    name: 'register',
    components: {
        Card
    },
    methods: {
        register () {
            axios.post('/api/register', {
                name: this.name,
                email: this.email,
                password: this.password,
                password_confirmation: this.password_confirmation
            }).then(res => {
                this.$router.push({name: 'login'})
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>