<template>
    <div class="card">
        <div class="card-header">
            <slot name="title"></slot>
        </div>
        <div class="card-body">
            <slot name="body"></slot>
        </div>
    </div>
</template>

<style lang="scss">
    .card-header {
        font-weight: 500;
    }
</style>