<template>
    <nav class="navbar navbar-expand-md navbar-light bg-warning justify-content-between">
        <router-link class="navbar-brand" :to="{name: 'home'}">Laravue_Forum</router-link>
        <ul class="navbar-nav">
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'home'}">Home</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'login'}">Login</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{name: 'register'}">Register</router-link>
            </li>
        </ul>
    </nav>
</template>